# yaml-language-server: $schema=https://raw.githubusercontent.com/ansible/ansible-lint/refs/heads/main/src/ansiblelint/schemas/tasks.json
---
- name: Reboot machine
  when: fips_reboot_required.stat.exists
  ansible.builtin.reboot:
    pre_reboot_delay: 1
    msg: Reboot initiated by Ansible

- name: Validate FIPS is enabled
  when: fips_status in ["latest", "frozen"]
  changed_when: false
  ansible.builtin.command:
    cmd: grep -q 1 /proc/sys/crypto/fips_enabled

- name: Validate FIPS is disabled
  when: fips_status == "absent"
  changed_when: false
  register: fips_enabled
  failed_when: fips_enabled.rc == 0
  ansible.builtin.command:
    cmd: grep -q 1 /proc/sys/crypto/fips_enabled
