# yaml-language-server: $schema=https://raw.githubusercontent.com/ansible/ansible-lint/refs/heads/main/src/ansiblelint/schemas/tasks.json
---
- name: Ensure FIPS kernel and packages are installed
  when: fips_status == "frozen"
  register: _fips_result
  insan3d.ubuntu.pro:
    enabled:
      - fips

    disabled:
      - livepatch

- name: Ensure FIPS kernel and packages are installed
  when: fips_status == "latest"
  register: _fips_result
  insan3d.ubuntu.pro:
    enabled:
      - fips-updates

- name: Warn about livepatch kernel status
  when:
    - fips_status == "latest"
    - _fips_result.livepatch_status is defined
    - "_fips_result.livepatch_status.status | default(_fips_result.livepatch_status) != 'supported'"

  ansible.builtin.debug:
    msg: |
      WARNING: Livepatch kernel status is not supported:
      {{ _fips_result.livepatch_status | to_nice_json }}


- name: Ensure FIPS kernel and packages are removed
  when: fips_status == "absent"
  register: _fips_result
  insan3d.ubuntu.pro:
    disabled:
      - fips
      - fips-updates

- name: Check if reboot is required
  changed_when: false
  register: _fips_reboot_required
  ansible.builtin.command:
    cmd: pro system reboot-required

- name: Schedule machine reboot if needed
  when: _fips_reboot_required.stdout != "no"
  notify:
    - Reboot machine
    - Validate FIPS is enabled
    - Validate FIPS is disabled

  changed_when: true
  ansible.builtin.debug:
    msg: "System will be rebooted (reboot-required: {{ _fips_reboot_required.stdout }})"
